<?xml version="1.0"?>

<launch>

    <!-- Publish urdf zed -->
    <arg name="publish_urdf"          default="true" />

    <!-- Zed wrapper node -->

    <!-- ROS URDF description of the ZED -->
    <group if="$(arg publish_urdf)">
        <param name="zed_description" textfile="$(find zed_wrapper)/urdf/zed.urdf" />
        <node name="zed_state_publisher" pkg="robot_state_publisher" type="state_publisher">
            <remap from="robot_description" to="zed_description" />
        </node>
    </group>


    <!-- TF publisher -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="zed_base_link4"
	args="0 0 0 0 0 0 zed_current_frame zed_center" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="zed_base_link5"
	args="0 0 0 0 0 0 camera_link zed_center" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="zed_base_link6"
	args="0 -0.06 0 0 0 0 camera_link zed_left_camera" />


</launch>
